<div class="panel panel-default">
  <div class="panel-heading">Alimentaci&oacute;n</div>
  <div class="panel-body">
    <ul>
      <li>Los gatos comen pequeñas porciones de comida durante todo el d&iacute;a,deben tener comida a su disposici&oacute;n.</li>
      <li>Fija la porci&oacute;n de comida dependiendo de la raza, edad y tamaño.</li>
      <li>Lo ideal es alimentar a tu gato con comida para gatos.</li>
      <li>Para elegir la comida adecuada toma en cuenta edad y raza, puedes pedir ayuda al veterinario.</li>
      <li>La comida debe contener un alto contenido en prote&iacute;s y grasas animales.</li>
      <li>Si se le alimenta con comida seca puede ponerse una sola porci&oacute; suficiente para todo el d&iacute;a.</li>
      <li>Si se alimenta con comida h&uacute;meda lo mejor es darle 2 o 3 veces durante el d&iacute;a.</li>
      <li>No debes alimentarlos de m&aacute;s, eso los hace propensos a tener sobrepeso.</li>
      <li>Es ideal que los cachorros sean amamantados hasta que se desteten naturalmente</li>
      <li>Al mes de edad puedes darle comida remojada en leche o agua.</li>
      <li>Si no puede ser amamantado por la madre, amamantalo con biber&oacute;n cada 3 o 4 horas.</li>
      <li>La leche de vaca puede causar mal estomacal en los gatos</li>
      <li>Si debes darles leche puedes usar leches que contienen menos lactosas.</li>
    </ul>
  </div>
</div>
