<div class="panel panel-default">
  <div class="panel-heading"><img src="http://i.imgur.com/mfxB3Lh.png"/>Cuidados Generales</div>
  <div class="panel-body">
    <ul>
      <li>
        <span>
          <i class="fa fa-user-md"></i>Debes periodicamente ir a un veterinario y desparasitar al gato.
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-plus-square"></i>Vacunar a tu gato contra las principales enfermedades que puede tener.
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-paw"></i>Darle una alimentación adecuada a su edad.
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-paw"></i>Siempre deben que tener agua limpia a su disposición.
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-paw"></i>Cepillar el pelaje dependiendo del largo, eso evitar&eacut;a que boten mucho pelo.
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-home"></i>Si vive en interiores debe tener una bandeja para hacer sus necesidades.
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-futbol-o"></i>Jugar con tu gato es una parte importante de mantener su salud y su lazo afectivo con ellos.
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-paw"></i>Si ba&ntilde;as a tu gato, usa shampoo especial y agua tibia.
        </span>
      </li>
    </ul>
  </div>
</div>
