<div class="panel panel-default">
  <div class="panel-heading">Cuidados Generales.</div>
  <div class="panel-body">
    <ul>
      <li>Ir a un veterinario y desparasitar al gato.</li>
      <li>Vacunar a tu gato contra las principales enfermedades que puede tener.</li>
      <li>Darle una alimentación adecuada a su edad. </li>
      <li>Siempre deben que tener agua limpia a su disposición.</li>
      <li>Cepillar el pelaje dependiendo del largo, eso evitar&eacut;a que boten mucho pelo.</li>
      <li>Si vive en interiores debe tener una bandeja para hacer sus necesidades</li>
    </ul>
  </div>
</div>
