<div class="panel panel-default">
  <div class="panel-heading"><img src="http://i.imgur.com/mfxB3Lh.png"/>Juguetes</div>
  <div class="panel-body">
    <ul>
      <li>
        <span>
          <i class="fa fa-paw"></i>Usar juguetes es la manera m&aacute;s f&aacute;cil de que tu gato gaste energía suficiente y aplique sus instintos de caza.
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-futbol-o"></i>El uso de juguetes les ayudar&aacute; a disminuir la agresividad.
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-futbol-o"></i>Para estimular a tu gato ofrécele juguetes que llamen su atención.
      </span>
      </li>
      <li>
        <span>
          <i class="fa fa-futbol-o"></i>Les atraen los juguetes que por su forma se muevan.
      </span>
        </li>
      <li>
        <span>
          <i class="fa fa-paw"></i>Que tengan un poste para rascar ayuda a tonificar sus m&uacute;sculos, al tiempo que evitas que rasquen tus muebles.
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-futbol-o"></i>Procura renovar sus artículos de juego y dedicarle, al menos, 20 minutos de tu tiempo para ejercitarlo.
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-paw"></i>Los peluches para gatos los utilizan para imaginar cacer&iacute;as, mordisquear y mover con sus patas.
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-paw"></i>Al elegir peluches asegurate que sean resistentes y sin piuezas que puedan desprenderse.
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-paw"></i>Las ca&ntilde;as de juguetes, son un gran incentivo para los gatos,tratar&aacute;n de atraparla.
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-paw"></i>Los juguetes con sonidos son buenos para dar a tu gato si se deja solo, el sonido funciona como estimulo.
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-futbol-o"></i>Se recomienda jugar con tu gato dos sesiones durante el d&iacute;a.
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-futbol-o"></i>Para evitar que tu gato este activo durante toda la noche puedes jugar con &eacute;l antes de dormir.
        </span>
      </li>
    </ul>
  </div>
