<div class="panel panel-default">
  <div class="panel-heading">Juguetes</div>
  <div class="panel-body">
    <ul>
      <li>Usar juguetes es la manera m&aacute;s f&aacute;cil de que tu gato gaste energía suficiente y aplique sus instintos de caza.</li>
      <li>El uso de juguetes les ayudar&aacute; a disminuir la agresividad.</li>
      <li>Para estimular a tu gato ofrécele juguetes que llamen su atención.</li>
      <li>Les atraen los juguetes que por su forma se muevan.</li>
      <li>Que tengan un poste para rascar ayuda a tonificar sus m&uacute;sculos, al tiempo que evitas que rasquen tus muebles.</li>
      <li>Procura renovar sus artículos de juego y dedicarle, al menos, 20 minutos de tu tiempo para ejercitarlo.</li>
      <li>Los peluches para gatos los utilizan para imaginar cacer&iacute;as, mordisquear y mover con sus patas.</li>
      <li>Al elegir peluches asegurate que sean resistentes y sin piuezas que puedan desprenderse.</li>
      <li>Las canas de juguetes, son un gran incentivo para los gatos,trtar&aacute;n de atrparla.</li>
      <li>Los juguetes con sonidos son buenos para dar a tu gato si se deja solo, el sonido funciona como estimulo.</li>
      <li>Se recomienda jugar con tu gato dos sesiones durante el d&iacute;a</li>
      <li>Para evitar que tu gato este activo durante toda la noche puedes jugar con &eacute;l antes de dormir.</li>
    </ul>
  </div>
