<div class="panel panel-default">
  <div class="panel-heading"><img src="http://i.imgur.com/mfxB3Lh.png"/>Cuidados Veterinarios.</div>
  <div class="panel-body">
    <ul>
      <li>Deben comenzar la vacunaci&oacute;n a las nueve semanas de edad.</li>
      <li>Las vacunas que deben ser administradas son: triple felina, contra la leucemia felina y antirr&aacute;bica.</li>
      <li>Es importante respetar el calendario de vacunaci&oacute;n establecido por el médico veterinario.</li>
      <li>Si recien adquiriste a tu gato debes de llevarlo al veterinario inmediatamente.</li>
      <li>Si tiene pulgas, consulte a su veterinario para administrarle tratamiento.</li>
      <li>Los desparasitantes deben ser administrados seg&uacute;n lo indique el vetrinario.</li>
      <li>Los ojos de siempre deben estar brillantes y claros.</li>
      <li>Si tu gato tiene residuos en los bordes de los ojos extraelo con algod&oacute;n h&uacute;medo.</li>
      <li>Los o&iacute;dos siempre deben estar limpios, los problemas en los o&icute;dos pueden generar p&eacute;rdida de audici&oacute;n.</li>
      <li>Si nota que su gato ha desarrollado un abdomen caído o le ha engordado la cara consulte con su veterinario puede que tenga sobrepeso.</li>
    </ul>
  </div>
</div>
