<div class="panel panel-default">
  <div class="panel-heading">Cuidados Veterinarios.</div>
  <div class="panel-body">
    <ul>
      <li>Deben comenzar la vacunaci&oacute;n a las nueve semanas de edad.</li>
      <li>Las vacunas que deben ser administradas son: triple felina, contra la leucemia felina y antirr&aacute;bica.</li>
      <li>Es importante respetar el calendario de vacunaci&oacute;n establecido por el médico veterinario.</li>
      <li>Si recien adquiriste a tu gato debes de llevarlo al veterinario inmediatamente.</li>
      <li>Si tiene pulgas, consulte a su veterinario para administrarle tratamiento.</li>
      <li>Los desparasitantes deben ser administrados seg&uacute;n lo indique el vetrinario.</li>
    </ul>
  </div>
</div>
